################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/DimsGalore/v16
/.vs/MinecraftGit/v16
/asm/ccl_modular
/.vs
